@model ShopHuy.Models.Size

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="text-center">Details Size</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SizeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeName)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Sizes", new { id = Model.SizeId })" class="btn btn-default">
        <i class="fa fa-flash"></i>
        <span>

        </span>
    </a>
    |
    <a href="@Url.Action("Index", "Sizes")" class="btn btn-default">
        <i class="fa fa-sort-alpha-desc"></i>
        <span>

        </span>
    </a>
</p>
